*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 50%;
	overflow-x: hidden;

	@mixin small-screen--mid {
		font-size: 52%;
	}

	@mixin small-screen--upper {
		font-size: 54%;
	}

	@mixin medium-screen--mid {
		font-size: 56%;
	}

	@mixin medium-screen--upper {
		font-size: 58%;
	}

	@mixin large-screen--mid {
		font-size: 60%;
	}

	@mixin large-screen--upper {
		font-size: 62.5%;
	}
}

body {
	box-sizing: border-box;
	font-family: $base-font-family;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
}

p {
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 6rem 0;
}