.introduction {
	font-size: $font-size-base;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	&__text-content {
		margin-bottom: 3rem;
		text-align: center;

		@mixin medium-screen--mid {
			flex: 1 1 65%;
			margin-right: 3rem;
			text-align: left;
		}
	}

	&__text-title {
		font-size: $font-size-section-heading;
		margin-bottom: 3rem;
	}

	&__text {

	}

	&__logo-container {
		margin-left: auto;
		margin-right: auto;		

		@mixin medium-screen--mid {
			flex: 1 1 30%;
		}
	}

	&__logo-text {
		text-align: center;
		font-size: 2.4rem;

		@mixin medium-screen--mid {
			font-size: 1.8rem;
		}

		@mixin large-screen--lower {
			font-size: 2.4rem;
		}
	}

	&__image {
		margin-bottom: 2rem;
		display: inline-block;
	}
}