.product-blurbs {

	&__container {
		display: flex;
		justify-content: space-between;
	}
}

.product-blurb {
	font-size: $font-size-base;
	flex: 0 1 29%;

	&__image {
		margin-bottom: 2.5rem;
		display: inline-block;
	}

	&__title {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	&__text {

	}
}