.ratings-intro {
	font-size: $font-size-base;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
	}

	&__image {

		@mixin medium-screen--lower {
			flex: 0 1 40%;
		}
	}

	&__text-content {

		@mixin medium-screen--lower {
			flex: 0 1 50%;
		}
	}

	&__title {
		font-size: $font-size-section-heading;
		margin-bottom: 3rem;
	}

	&__text {

	}
}