.reviews {
	background-color: #EFEFEF;

	&__title {
		font-size: $font-size-section-heading;
		margin-bottom: 2rem;
		text-align: center;
	}

	&__subtitle {
		font-size: $font-size-base;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
		line-height: 1.5;
		max-width: 80rem;
		font-weight: 300;

		@mixin medium-screen--mid {
			margin-bottom: 8rem;
		}
	}

	&__carousel {

		.slick-slide > div {
			margin-left: auto;
			margin-right: auto;
			margin-top: 2rem;
			margin-bottom: 2rem;
			max-width: 70rem;
		}

		.slick-prev {			
			display: none;

			@mixin medium-screen--upper {
				display: block;
				left: 4.5rem;
				z-index: 9;
			}

			@mixin large-screen--lower {
				left: 6.5rem;
			}
		}

		.slick-next {			
			display: none;

			@mixin medium-screen--upper {
				display: block;
				right: 8rem;
				z-index: 9;
			}

			@mixin large-screen--lower {
				right: 10rem;
			}
		}

		.slick-prev::before {
			content: '\f104';
			font-family: 'Font Awesome 5 Free';			
			font-weight: 900;
			font-size: 5rem;
			height: 5rem;
			width: 5rem;
			display: inline-block;
			background-color: $color-primary-blue;
			border-radius: 100%;
		}

		.slick-next::before {
			content: '\f105';
			font-family: 'Font Awesome 5 Free';			
			font-weight: 900;
			font-size: 5rem;
			height: 5rem;
			width: 5rem;
			display: inline-block;
			background-color: $color-primary-blue;
			border-radius: 100%;
		}

		.slick-dots li button {

			&::before {
				font-size: 6rem;
				color: $color-primary-blue;
			}
		}
	}	
}