.utilities {

	&__background {

		&--light {
			background-color: #EFEFEF !important;
		}

		&--primary {
			background-color: $color-primary-orange;
		}
	}

	&__underline {
		
		&::before {
			content: '';
			height: 3px;
			width: 20rem;
			display: block;
			background-color: $color-primary-green;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2rem;
		}
	}

	&__text-3d {
		text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	}

	&__skew-title {
		transition: all .35s;

		&:hover {
			color: $color-primary-green;
			transform: skew(-2deg, -2deg) scale(1.1);
		}
	}

	&__skew-title:hover {
		color: $color-primary-green;
		transform: skew(-2deg, -2deg) scale(1.1);
	}

	&__center-text {
		text-align: center;
	}

	&__reveal {
		transition: all 1s;

		&--hidden {
			opacity: 0;
		}

		&--initial-position-down {
			transform: translateY(10rem);
		}

		&--initial-position-left {
			transform: translateX(-10rem);
		}

		&--initial-position-right {
			transform: translateX(10rem);
		}

		&--slide-up {
			opacity: 1;
		}

		&--slide-left {
			opacity: 1;
		}

		&--slide-right {
			opacity: 1;
		}
	}
}